<mat-card>
    <mat-card-title>Account List</mat-card-title>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field>
                <mat-label>Select Account Type</mat-label>
                <mat-select [(value)]="selectedAccountType">
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">{{accountType}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <h3 mat-line *ngIf="AccountType === 'abc' ||account.acct_type.toString() === AccountType || AccountType ==='-1'">               
        -->
        <div mat-line *ngIf="selectedAccountType === '401K' || selectedAccountType === 'IRA'">
            <!-- <div mat-line *ngIf="selectedAccountType === account.acct_type.toString() "> -->


            <!-- <p>Account Type: {{selectedAccountType}}</p> -->
            <mat-table class="mat-elevation-z8" [dataSource]="accounts">

                <ng-container matColumnDef="acct_num">
                    <mat-header-cell *matHeaderCellDef class="id_column">Account #</mat-header-cell>
                    <mat-cell *matCellDef="let account" class="id_column">{{account.acct_num}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="acct_type">
                    <mat-header-cell *matHeaderCellDef class="acct_type_column">Account Sub-Type</mat-header-cell>
                    <mat-cell *matCellDef="let account" class="acct_type_column">{{account.acct_type}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="avail_balance">
                    <mat-header-cell *matHeaderCellDef class="balance_column">Available Balance</mat-header-cell>
                    <mat-cell *matCellDef="let account" class="balance_column">{{account.avail_balance}}</mat-cell>
                </ng-container>

                <mat-header-row class="header-row" *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let account; columns: columnsToDisplay;"></mat-row>

            </mat-table>
        </div>
    </mat-card-content>
</mat-card>