<div class="my-dialog">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2 mat-dialog-title>Are you sure you want to delete user {{id}}, {{user_name}}? </h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="admin-user-delete-confirm-container">
        <button mat-raised-button type="submit" color="accent" mat-dialog-close="YES" class="admin-user-delete-confirm-button">YES</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button type="submit" mat-dialog-close="" class="admin-user-delete-confirm-button">NO</button>
    </mat-card-content>
  </mat-card>
</div>
